<script src="/static/tournament.js"></script>
<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="register-block">
					<h2>Tournament</h2>
					<form id="form_tournament" method="post">
						<div class="form-group">
                <label for="name">Name of tournament</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="Enter the name">
            </div>
						<button type="submit" class="btn btn-primary btn-block">Create tournament</button>
					</form>
				</div>
			</div>
		</div>
</div>
