<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="btn-group" role="group" aria-label="Game Mode Buttons">
    <button id="play_button" type="button" class="btn btn-success btn-lg">Play</button>
    <button id="ranked_button" type="button" class="btn btn-danger btn-lg">Ranked</button>
    <button id="tournament_button" type="button" class="btn btn-primary btn-lg">Tournament</button>
  </div>
</div>