<script src="/static/pongsocket-ranked.js"></script>
<div>
	<div style="display: flex; justify-content: center;">
		<h1 id="game_name">Pongpong<br></h1>
	</div>
	<div style="display: flex; justify-content: center;" id="timer"></div>
	<div style="display: flex; justify-content: center;">
		<h2>Score</h2>
	</div>
	<div style="display: flex; justify-content: center;">
		<h2 id="loading_text"></h2>
	</div>
	<div style="display: flex; justify-content: center;">
		<h2 id="score_text">0 - 0</h2>
	</div>
	<div style="display: flex; justify-content: center; position: absolute; left: 10%;">
		<h2 id="player1_name" style="position: absolute; top: 100%;"></h2>
		<img id="player1_img" src="" style="width: 192px;"/>
	</div>
	<div style="display: flex; justify-content: center; position: absolute; right: 10%; ">
		<h2 id="player2_name" style="position: absolute; top: 100%;"></h2>
		<img id="player2_img" src="" style="width: 192px;"/>
	</div>
	<div style="display: flex; align-items: center; justify-content: center;">
		<canvas id="drawCanvas" width="800px" height="600px"
			style="display: flex; align-items: center; justify-content: center;"></canvas>
	</div>
	<div style="display: flex; justify-content: center;">
		<h1 id="winner_text"></h1>
	</div>
</div>