<script src="/static/validate_code.js"></script>
<div class="container d-flex justify-content-center vh-100">
    <div class="row w-50">
        <div class="col-12">
            <div id="container_validate_code" class="container">
                <div class="input-group mb-3">
                    <form id="form_validate_code" method="post" class="w-100">
                        <input name="token" type="text" class="form-control mb-2" id="username_input" placeholder="Code">
                        <input id="submit_token" type="submit" class="btn btn-primary w-100">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

